---
---

<section
	data-testid="about"
	id="about"
	class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:h-screen lg:flex-row"
>
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<h2 class="font-monospace text-2xl text-orange lg:text-4xl">About me</h2>
		<span class="mb-6 ml-2 h-1 w-10 bg-orange"></span>
	</div>

	<div class="w-full text-justify text-black dark:text-white lg:w-1/2">
		<p class="mb-2">
			I am a Back-end Developer with more than two years of experience in software development. Currently, I have
			experience in Java (Springboot), PHP (Laravel), JavaScript and Python, as well as solid knowledge in
			testing, both unit and integration (JUnit, PhpUnit, Cypress). With a strong business education from my 
			Bachelor's degrees in Marketing and Business Administration, combined with my sales experience, I have 
			a much more critical point of view. I have great problem-solving and teamwork skills. <br>
			I love playing soccer and spending time with my wife and son.
		</p>
	</div>
</section>
