---
import { Image, useTheme } from '@astrojs/image/components';
import pigmalion from '@assets/logos/pigmalion.jpeg';
import mars from '@assets/logos/mars.jpeg';
import freelance from '@assets/logos/freelance.png';
import satoshitango from '@assets/logos/satoshitango.jpeg';
---

<section
	data-testid="experience"
	id="experience"
	class="mb-10 flex flex-col items-center justify-center lg:mb-10 lg:flex-row lg:flex-row-reverse"
>
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/3">
		<h2 class="font-monospace text-2xl text-orange lg:text-4xl">Experience</h2>
		<span class="mb-6 ml-2 h-1 w-10 bg-orange"></span>
	</div>
	<div class="w-full text-justify text-black dark:text-white lg:w-1/2">
		<div class="rounded-xl p-3 shadow-lg mb-5">
			<div>
				<div class="w-full flex flex-row">
					<Image
						src={satoshitango}
						alt={"Logo Satoshi Tango"}
						format="jpeg"

						aspectRatio="10:10"
						loading="eager"
						class= "m-2 rounded-xl transition duration-300 ease-in-out hover:scale-110 h-8 w-8 md:h-16 md:w-16 lg:h-20 lg:w-20"
					/>
					<div class = "m-3">
						<p class ="pr-5 text-base" >Satoshi Tango</p>
						<p class = "font-bold text-base">Sr. Backend developer</p>
						<p class = "text-base">Jan 2024 - present</p>
					</div>
				</div>	
				<ul class="p-5 text-sm list-disc">
					<li>I am part of a team dedicated to developing innovative and scalable solutions.</li>
					<li>My role focuses on designing, developing, and maintaining robust backend systems that support our online applications and services.</li>
					<li>Led the integration of multiple new businesses with our backend systems, ensuring seamless connectivity and optimized performance.</li>
					<li>Developed and maintained APIs that facilitate external businesses to connect and interact with our services, enhancing interoperability and expanding our service ecosystem.</li>
				</ul>
			</div>
		</div>
        <div class="rounded-xl p-3 shadow-lg mb-5">
			<div>
				<div class="w-full flex flex-row">
					<Image
						src={pigmalion}
						alt={"Logo Pigmalion Software"}
						format="jpeg"

						aspectRatio="10:10"
						loading="eager"
						class= "m-2 rounded-xl transition duration-300 ease-in-out hover:scale-110 h-8 w-8 md:h-16 md:w-16 lg:h-20 lg:w-20"
					/>
					<div class = "m-3">
						<p class ="pr-5 text-base" >Pigmalion Software</p>
						<p class = "font-bold text-base">Backend developer</p>
						<p class = "text-base">Jan 2022 - Jan 2024</p>
					</div>
				</div>	
				<ul class="p-5 text-sm list-disc">
					<li>Spearheaded backend development for a digital payment platform, focusing on optimizing performance and scalability.</li>
					<li>Automated testing and production deployment processes across all project repositories, significantly improving development efficiency.</li>
					<li>Authored and maintained thorough technical documentation, covering 100% of technical specifications and system dependencies.</li>
				</ul>
			</div>
		</div>
		<div class="rounded-xl p-3 shadow-lg mb-5">
			<div>
				<div class="w-full flex flex-row">
					<Image
						src={freelance}
						alt={"Logo Freelance"}
						format="jpeg"

						aspectRatio="10:10"
						loading="eager"
						class= "m-2 rounded-xl transition duration-300 ease-in-out hover:scale-110 h-8 w-8 md:h-16 md:w-16 lg:h-20 lg:w-20"
					/>
					<div class = "m-3">
						<p class ="pr-5 text-base" >Freelance</p>
						<p class = "font-bold text-base">Web Developer</p>
						<p class = "text-base">Jul 2021 - Present</p>
					</div>
				</div>
				<ul class="p-5 text-sm list-disc">
					<li>Development of customized web projects for clients. </li>
					<li>Requirements survey with the client and development proposals. </li>
					<li>Design and programming of the applications and implementation in production. Maintenance and updating.</li>
				</ul>
			</div>
		</div>
		<div class="rounded-xl p-3 shadow-lg mb-5">
			<div>
				<div class="w-full flex flex-row">
					<Image
						src={mars}
						alt={"Logo Mars"}
						format="jpeg"

						aspectRatio="10:10"
						loading="eager"
						class= "m-2 rounded-xl transition duration-300 ease-in-out hover:scale-110 h-8 w-8 md:h-16 md:w-16 lg:h-20 lg:w-20"
					/>
					<div class = "m-3">
						<p class ="pr-5 text-base" >Mars Inc.</p>
						<p class = "font-bold text-base">Key Account Manager</p>
						<p class = "text-base">Apr 2014 - Jan 2022</p>
					</div>
				</div>
				<ul class="p-5 text-sm list-disc">
					<li>Responsible for the management of 3 key accounts in the supermarket channel.</li>
					<li>Management of a portfolio of 80 products and a team of 2 supervisors with 20 sales reps.</li>
					<li>Negotiation, implementation and follow-up of commercial agreements.</li>
				</ul>
			</div>
		</div>
	</div>


</section>
