---
import { Image, useTheme } from '@astrojs/image/components';
import pigmalion from '@assets/logos/pigmalion.jpeg';
import mars from '@assets/logos/mars.jpeg';
import freelance from '@assets/logos/freelance.png';
import henry from '@assets/logos/henry.jpeg';
---

<section
	data-testid="experience"
	id="experience"
	class="mb-10 flex flex-col items-center justify-center lg:mb-10 lg:flex-row lg:flex-row-reverse"
>
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/3">
		<h2 class="font-monospace text-2xl text-orange lg:text-4xl">Experience</h2>
		<span class="mb-6 ml-2 h-1 w-10 bg-orange"></span>
	</div>
	<div class="w-full text-justify text-black dark:text-white lg:w-1/2">
		<div class="rounded-xl p-3 shadow-lg mb-5">
			<div>
				<div class="w-full flex flex-row">
					<Image
						src={pigmalion}
						alt={"Logo Pigmalion Software"}
						format="jpeg"

						aspectRatio="10:10"
						loading="eager"
						class= "m-2 rounded-xl transition duration-300 ease-in-out hover:scale-110 h-8 w-8 md:h-16 md:w-16 lg:h-20 lg:w-20"
					/>
					<div class = "m-3">
						<p class ="pr-5 text-base" >Pimalion Software</p>
						<p class = "font-bold text-base">Software developer</p>
						<p class = "text-base">Jan 2022 - Present</p>
					</div>
				</div>	
				<ul class="p-5 text-sm list-disc">
					<li>Currently working on a digital payment platform project.</li>
					<li>Automation of the testing and production deployments of all the project repositories, saving up to 50% on cloud processing time.</li>
					<li>Reduction of 30% of the time in the delivery of developments.</li>
					<li>Improvement of 25% in the customer satisfaction survey.</li>
					<li>Write unit and integration tests to verify every new functionality.</li>
					<li>Documented 100% of technical specifications and dependencies.</li>
				</ul>
			</div>
		</div>
		<div class="rounded-xl p-3 shadow-lg mb-5">
			<div>
				<div class="w-full flex flex-row">
					<Image
						src={freelance}
						alt={"Logo Freelance"}
						format="jpeg"

						aspectRatio="10:10"
						loading="eager"
						class= "m-2 rounded-xl transition duration-300 ease-in-out hover:scale-110 h-8 w-8 md:h-16 md:w-16 lg:h-20 lg:w-20"
					/>
					<div class = "m-3">
						<p class ="pr-5 text-base" >Freelance</p>
						<p class = "font-bold text-base">Web Developer</p>
						<p class = "text-base">Jul 2021 - Present</p>
					</div>
				</div>
				<ul class="p-5 text-sm list-disc">
					<li>Development of customized web projects for clients. </li>
					<li>Requirements survey with the client and development proposals. </li>
					<li>Design and programming of the applications and implementation in production. Maintenance and updating.</li>
				</ul>
			</div>
		</div>
		<div class="rounded-xl p-3 shadow-lg mb-5">
			<div>
				<div class="w-full flex flex-row">
					<Image
						src={henry}
						alt={"Logo Henry"}
						format="jpeg"

						aspectRatio="10:10"
						loading="eager"
						class= "m-2 rounded-xl transition duration-300 ease-in-out hover:scale-110 h-8 w-8 md:h-16 md:w-16 lg:h-20 lg:w-20"
					/>
					<div class = "m-3">
						<p class ="pr-5 text-base" >Henry</p>
						<p class = "font-bold text-base">Full-Stack Teaching Assistant</p>
						<p class = "text-base">Dec 2021 - Feb 2022</p>
					</div>
				</div>
				<ul class="p-5 text-sm list-disc">
					<li>Bootcamp Assistant (TA) for Full-Stack Development Students.</li>
					<li>Coordinate a group of students to achieve integration to the study group.</li>
					<li>Guide students in the first steps of the course.</li>
					<li>Assist to solve exercises and promote group collaboration (Pair Programming).</li>
					<li>Propose ideas to improve the Bootcamp processes.</li>
				</ul>
			</div>
		</div>
		<div class="rounded-xl p-3 shadow-lg mb-5">
			<div>
				<div class="w-full flex flex-row">
					<Image
						src={mars}
						alt={"Logo Mars"}
						format="jpeg"

						aspectRatio="10:10"
						loading="eager"
						class= "m-2 rounded-xl transition duration-300 ease-in-out hover:scale-110 h-8 w-8 md:h-16 md:w-16 lg:h-20 lg:w-20"
					/>
					<div class = "m-3">
						<p class ="pr-5 text-base" >Mars Inc.</p>
						<p class = "font-bold text-base">Key Account Manager</p>
						<p class = "text-base">Apr 2014 - Jan 2022</p>
					</div>
				</div>
				<ul class="p-5 text-sm list-disc">
					<li>Responsible for the management of 3 key accounts in the supermarket channel.</li>
					<li>Management of a portfolio of 80 products and a team of 2 supervisors with 20 sales reps.</li>
					<li>Negotiation, implementation and follow-up of commercial agreements.</li>
				</ul>
			</div>
		</div>
	</div>


</section>
