---
import heroImage from '@assets/images/Mariano Scotti.jpg';
import { Image } from 'astro:assets';
import Button from '@components/ui/Button.astro';
---

<section
	data-testid="hero"
	class="flex flex-col-reverse items-center justify-center text-center lg:flex-row"
>
	<div class="mb-10 flex flex-col items-center lg:mb-0 lg:w-1/2">
		<div>
			<h1 class="mb-10 font-monospace text-3xl text-black dark:text-white lg:text-5xl">
				Hi! My name is <span class="text-orange font-bold">Mariano Scotti</span> and I am the <span class="font-bold">backend developer</span> you are looking for.
			</h1>
		</div>
	</div>
	<div data-testid="hero-img" class="mb-10 flex w-1/2 items-center justify-center">
		<Image
			src={heroImage}
			alt="Mariano Scotti"
			format="png"
			width={400}
			height={400}
			loading="eager"
			class="rounded-xl duration-100 hover:scale-105 hover:transform"
		/>
	</div>
</section>
