---
import heroImage from '@assets/images/Mariano Scotti.jpg';
import { Image } from '@astrojs/image/components';
import Button from '@components/ui/Button.astro';
---

<section
	data-testid="hero"
	class="flex flex-col-reverse items-center justify-center text-center lg:flex-row"
>
	<div class="mb-10 flex flex-col items-center lg:mb-0 lg:w-1/2">
		<div>
			<h1 class="mb-10 font-monospace text-3xl text-black dark:text-white lg:text-5xl">
				Hi! My name is <span class="text-orange">Mariano Scotti</span> and I am the web developer you are looking for.
			</h1>
		</div>
	</div>
	<div data-testid="hero-img" class="mb-10 flex w-1/2 items-center justify-center">
		<Image
			src={heroImage}
			alt="Coding girl"
			aspectRatio="4:4"
			format="png"
			width={400}
			height={400}
			loading="eager"

		/>
	</div>
</section>
