---
import Button from '@components/ui/Button.astro';
import ToggleTheme from '@components/ui/ToggleTheme.astro';
import { Astronav, MenuIcon, MenuItems } from 'astro-navbar';

const menuitems = [
	{
		title: 'Stack',
		path: '#stack',
	},
	{
		title: 'About',
		path: '#about',
	},
	{
		title: 'Experience',
		path: '#experience',
	},
	{
		title: 'Projects',
		path: '#projects',
	},
	{
		title: 'Blog',
		path: 'https://clickstart.marianoscotti.com',
		newTab: true
	},
	{
		title: 'Contact',
		path: '#contact',
	},
];
---

<header data-testId="header" class="my-5 flex flex-col items-center justify-between lg:flex-row">
	<Astronav>
		<div class="flex w-full items-center justify-between lg:w-auto">
			<Button id="downloadButton" size={'sm'} name="Download CV">Download CV</Button>
			<div class="block lg:hidden">
				<MenuIcon class="h-4 w-4 text-black dark:text-white" />
			</div>
		</div>
		<MenuItems class="mt-2 hidden w-full lg:mt-0 lg:flex lg:w-auto">
			<ul class="flex flex-col lg:flex-row lg:gap-3">
				{
					menuitems.map((item) => (
						<>
							<li>
								<a
									aria-label="navigation link"
									href={item.path}
									class="flex py-2 text-black hover:text-orange dark:text-white dark:hover:text-orange lg:px-3"
									target={item.newTab ? "_blank" : ""}
								>
									{item.title}
								</a>
							</li>
						</>
					))
				}
				<li><ToggleTheme /></li>
			</ul>
		</MenuItems>
	</Astronav>
</header>

<script>
	const downloadButton = document.getElementById('downloadButton');
	downloadButton.addEventListener('click', () => {
		const url = `${window.location.origin}${window.location.pathname}CV_Mariano_Scotti.pdf`;
		const xhr = new XMLHttpRequest();
		xhr.open('GET', url);
		xhr.responseType = 'blob';
		xhr.onload = () => {
			if (xhr.status === 200) {
				const blob = xhr.response;
				const link = document.createElement('a');
				link.href = window.URL.createObjectURL(blob);
				link.download = 'CV Mariano Scotti.pdf';
				link.click();
			} else {
				console.error('Error downloading file:', xhr.status);
			}
		};
		xhr.send();
	});
</script>